@import '~normalize.css';

@import './parts/defaults.scss';
@import './parts/fonts.scss';
@import './parts/variables.scss';
@import './parts/mixins.scss';

@import './components/navbar.scss';
@import './components/footer.scss';
@import './components/dropdown.scss';


.landing
{
    padding-top: 70px;
    background-image: url('../images/homepage-background.jpg');
    width: 100%;
    height: 80vh;
    background-clip: content-box;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title
    {
        font-family: $default_font;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .container
    {
        background: rgba($main_color_2, .85);
        padding: 15px;
        border-radius: 8px;

        .inputContainer
        {
            display: flex;
            font-weight: 300;
            align-items: center;

            @media screen and(max-width: 1368px)
            {
                flex-direction: column;
                width: 500px;
            }

            @media screen and(max-width: 550px)
            {
                flex-direction: column;
                width: 320px;
            }
            
            .megbizas-tipusa
            {
                width: 113px;
                font-family: $default_font;
                border-right: 1px solid lighten(black, 60%);

                @media screen and(max-width: 1368px)
                {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }

                .global_dropbtn
                {
                    width: inherit;

                    @media screen and(max-width: 1368px)
                    {
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                    }

                    color: black;
                    background: lighten($background_white, 5%);
                    padding-left: 25px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    font-size: 15.5px;
                    letter-spacing: .6px;
                    display: flex;
                    align-items: center;

                    &:hover, &:focus
                    {
                        background: lighten($background_white, 5%);
                    }

                    &:after
                    {
                        //content: attr(data-label);
                        content: url('../images/chevron-regular-down.svg');
                        width: 10px;
                        height: 10px;
                        fill: white;
                        //padding-top: 5px;
                        font-size: 10px;
                        position: absolute;
                        right: 18px;
                    }

                }

                .global_dropdown_content
                {
                    width: inherit;
                    font-family: inherit;

                    a
                    {
                        padding: 8px 15px;
                    }
                }
            }

            .ingatlan-tipusa
            {
                width: 110px;
                font-family: $default_font;
                border-right: 1px solid lighten(black, 60%);

                @media screen and(max-width: 1368px)
                {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }

                .global_dropbtn
                {
                    width: inherit;

                    color: black;
                    background: lighten($background_white, 5%);
                    padding-left: 25px;
                    font-size: 15.5px;
                    letter-spacing: .6px;
                    display: flex;
                    align-items: center;

                    &:hover, &:focus
                    {
                        background: lighten($background_white, 5%);
                    }

                    &:after
                    {
                        //content: attr(data-label);
                        content: url('../images/chevron-regular-down.svg');
                        width: 10px;
                        height: 10px;
                        fill: white;
                        //padding-top: 5px;
                        font-size: 10px;
                        position: absolute;
                        right: 18px;
                    }

                }

                .global_dropdown_content
                {
                    width: inherit;
                    font-family: inherit;

                    a
                    {
                        padding: 8px 15px;
                    }
                }
            }

            .szoveges
            {
                border: 0;
                background: lighten($background_white, 5%);
                font-family: $default_font;
                padding-left: 25px;
                font-size: 15.5px;
                letter-spacing: .6px;
                width: 400px;
                border-right: 1px solid lighten(black, 60%);
                flex-shrink: 0;
                height: 51px;

                @media screen and(max-width: 1368px)
                {
                    width: calc( 100% - 25px );
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }
            }

            .meret
            {
                height: 51px;
                border-right: 1px solid lighten(black, 60%);
                padding-right: 20px;
                background: lighten($background_white, 5%);
                display: inline-flex;
                position: relative;
                align-items: center;

                @media screen and(max-width: 1368px)
                {
                    width: calc( 100% - 20px );
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }
               
                input
                {
                    height: 100%;
                    border: 0;
                    background: lighten($background_white, 5%);
                    font-family: $default_font;
                    padding-left: 25px;
                    font-size: 16px;
                    padding-right: 20px;
                    letter-spacing: .6px;
                    width: 53px;

                    -moz-appearance: textfield;

                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
                    {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .default
                {
                    height: 100%;
                    border: 0;
                    background: lighten($background_white, 5%);
                    font-family: $default_font;
                    padding-left: 25px;
                    font-size: 16px;
                    padding-right: 20px;
                    letter-spacing: .6px;
                    width: 70px;
                }

                .modified
                {
                    height: 100%;
                    border: 0;
                    background: lighten($background_white, 5%);
                    font-family: $default_font;
                    padding-left: 25px;
                    font-size: 16px;
                    padding-right: 20px;
                    letter-spacing: .6px;
                    width: 30px;
                }

                .modified:first-child
                {
                    //background: blue;
                    padding-right: 10px;
                    text-align: right;
                }

                .separator
                {
                    font-weight: 600;
                }

                .modified:last-child
                {
                    //background: red;
                    padding-left: 10px;
                    width: 45px;
                }

                &:after
                {
                    //content: attr(data-label);
                    font-family: $default_font;
                    content: "m²";
                    width: 10px;
                    height: 10px;
                    fill: white;
                    margin-top: -5px;
                    font-size: 12px;
                    position: absolute;
                    right: 18px;
                }
            }

            .szobak
            {
                width: 120px;
                font-family: $default_font;
                border-right: 1px solid lighten(black, 60%);

                @media screen and(max-width: 1368px)
                {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }

                .global_dropbtn
                {
                    width: inherit;

                    color: black;
                    background: lighten($background_white, 5%);
                    padding-left: 25px;
                    font-size: 15.5px;
                    letter-spacing: .6px;

                    &:hover, &:focus
                    {
                        background: lighten($background_white, 5%);
                    }

                    &:after
                    {
                        //content: attr(data-label);
                        content: "db";
                        width: 10px;
                        height: 10px;
                        fill: white;
                        padding-top: 3.5px;
                        font-size: 12px;
                        position: absolute;
                        right: 18px;
                    }

                }

                .global_dropdown_content
                {
                    width: inherit;
                    font-family: inherit;

                    a
                    {
                        padding: 8px 15px;
                    }
                }
            }

            .ar
            {
                height: 51px;
                //border-right: 1px solid lighten(black, 60%);
                padding-right: 40px;
                background: lighten($background_white, 5%);
                display: inline-flex;
                position: relative;
                align-items: center;

                @media screen and(max-width: 1368px)
                {
                    width: calc( 100% - 40px );
                    border-right: none;
                    border-bottom: 1px solid lighten(black, 60%);
                }
               
                .default
                {
                    height: 100%;
                    border: 0;
                    background: lighten($background_white, 5%);
                    font-family: $default_font;
                    padding-left: 25px;
                    font-size: 16px;
                    padding-right: 20px;
                    letter-spacing: .6px;
                    width: 70px;
                }

                .modified
                {
                    height: 100%;
                    border: 0;
                    background: lighten($background_white, 5%);
                    font-family: $default_font;
                    padding-left: 25px;
                    font-size: 16px;
                    padding-right: 20px;
                    letter-spacing: .6px;
                    width: 30px;
                }

                .modified:first-child
                {
                    //background: blue;
                    padding-right: 10px;
                    text-align: right;
                }

                .separator
                {
                    font-weight: 600;
                }

                .modified:last-child
                {
                    //background: red;
                    padding-left: 10px;
                    width: 45px;
                }

                &:after
                {
                    content: attr(data-currency);
                    font-family: $default_font;
                    //content: "m²";
                    fill: white;
                    padding-top: 1px;
                    font-size: 12px;
                    position: absolute;
                    right: 18px;
                }
            }

            .search
            {
                border: 0;
                padding: 0 30px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                color: white;
                background: $secondary_color;
                font-family: $default_font;
                font-size: 16px;
                letter-spacing: .6px;
                cursor: pointer;
                transition: background .3s;
                display: flex;
                align-items: center;
                height: 51px;

                @media screen and(max-width: 1368px)
                {
                    width: 100%;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 5px;
                    display: flex;
                    justify-content: center;
                }
                

                &:hover
                {
                    background: darken($secondary_color, 5%);
                    transition: background .3s;
                }

                svg
                {
                    height: 15px;
                    margin-right: 8px;
                    margin-top: 1.5px;
                }

                &::-moz-focus-inner
                {
                    border: 0;
                }
            }
        }
    }
}

.highlighted
{
    @include side_padding;
    max-width: 100%;
    padding-top: 50px;
    font-family: $default_font;

    .subtitle
    {
        font-size: 18px;
        font-weight: 500;
        margin-top: 3px;
        letter-spacing: .5px;
    }

    .title
    {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: .8px;
        margin: 0;
    }

    .content
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding-top: 50px;
        padding-bottom: 100px;

        @media screen and( max-width: 500px )
        {
            grid-template-columns: 1fr;
        }
         @media screen and( max-device-width: 500px )
        {
            grid-template-columns: 1fr;
        }
        

        .element
        {
            background: white;
            //height: 400px;
            //box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.01);
            border-radius: 5px;
            border: 1px solid #dddfe2;
            cursor: pointer;
            transition: box-shadow .2s; 

            &:hover
            {
                box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
                transition: box-shadow .2s; 
            }

            .image
            {
                background-size: cover;
                height: 250px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                position: relative;

                .address
                {
                    position: absolute;
                    bottom: 0;
                    padding: 10px 20px;
                    background: rgba(0,0,0,.75);
                    width: calc( 100% - 40px );

                    p
                    {
                        font-weight: 400;
                        color: white;
                        text-align: left;
                    }
                }
            }

            img
            {
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                padding-bottom: 10px;
            }

            h1
            {
                margin: 0;
                font-size: 18px;
                padding: 20px 20px 10px 20px;
            }

            h2  
            {
                margin: 0;
                font-size: 16px;
                padding: 5px 20px;
                font-weight: 400;
                font-family: $roboto;
            }

            .properties
            {
                display: flex;
                padding: 10px 20px 25px 20px;
                font-weight: 300;
                font-size: 13px;

                p
                {
                    background: rgba(0,0,0,.20);
                    padding: 5px 15px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
            }
        }

        .next
        {
            height: 409.133px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and( max-width: 500px )
            {
                height: auto;
            }

            .cont
            {
                display: flex;
                align-items: center;
                font-size: 21px;
                cursor: pointer;
                color: rgba(0,0,0,.6);
                transition: .2s;

                &:hover
                {
                    color: rgba(0,0,0,.75);
                    transition: .2s;
                }

                svg
                {
                    height: 21px;
                    padding-right: 10px;
                }

                p
                {
                    margin-top: -1px;
                    font-weight: 500;
                    font-family: $roboto;
                }
            }
        }
    }
}