@import 'fonts.scss';

/**
 * Defaults
 */
$navbar_z_index: 1000;
$default_font: 'Segoe UI', sans-serif;
$roboto: 'Roboto';
$page_padding: 250px;

/**
 * Colors
 */
$main_color: #567EB4;
$main_color_2: #293149;
$main_color_3: #3498DB;
$blue: #007bff;
$red: #dc3545;
$cyan: #17a2b8;
$secondary_color: #D21919;
$background_grey: #e9ebee;
$background_white: #e9ebee;
$footer_color: #20283E;

$border: 1px solid #dddfe2;
$shadow: 0px 0px 4px 1px rgba(0,0,0,0.03);