.global_dropdown
{
    position: relative;
    display: inline-block;

    .global_dropbtn
    {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: left;
        height: 51px;

        &::-moz-focus-inner
        {
            border: none;
        }
    }

    .global_dropbtn:hover, .global_dropbtn:focus
    {
        background-color: #2980B9;
    }

    .global_dropdown_content 
    {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .global_dropdown_content a 
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: default;

        &:hover
        {
            background-color: #ddd;
        }
    }
    
    .show {display: block;}
}