{% extends "./components/page-base.twig" %}


{% block title %}
    PreAlp House Ingatlaniroda | Hiba történt a kérés kiszolgálása közben
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags( 'documentcss' ) }}
{% endblock %}

{% block body %}
<section class="error-group">
    <h1>500 Hiba</h1>
    <h2>Hiba történt a kérés feldolgozása közben. Próbáld újra később</h2>

    <a href="{{ path('homepage') }}" style="opacity: 0; "><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-9x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg> Vissza a főoldalra</a>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags( 'estatejs' ) }}
    {{ encore_entry_script_tags( 'consent' ) }}
{% endblock %}